@charset "UTF-8";

@font-face {
  font-family: "portafolio";
  src:url("../fonts/portafolio.eot");
  src:url("../fonts/portafolio.eot?#iefix") format("embedded-opentype"),
    url("../fonts/portafolio.woff") format("woff"),
    url("../fonts/portafolio.ttf") format("truetype"),
    url("../fonts/portafolio.svg#portafolio") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "portafolio" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "portafolio" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "a";
    font-size: 2em;
}
.icon-cv:before {
  content: "b";
}
.icon-portafolio:before {
  content: "d";
}
.icon-contact:before {
  content: "e";
}
.icon-behance:before {
  content: "f";
}

.icon:before{
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: bottom;
	margin-right: 0.8em;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
}


/*PRE LOADER*/

.preloader {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #ffc600;
    top: 0;
    left: 0;
 }

.preloader img{
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%; 
	margin: -25px -15px;
    align-content: center;
}

.preloader h1{
    position: relative;
    top: 50%;
    text-align: center;
    font-weight: 200;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, 0.6);
}

/* END OF PRE LOADER*/


body{
    font-family: "Open Sans";
    font-size: 16px;

}


.st-menu{
    padding: 0 6em 0 2em ;
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
}

.st-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;

}

.st-menu ul li{
    display: inline-block;
    margin: 0 1em 0 0;
    width: 250px;
}

.st-menu ul li a{
    color: #c2c2c2;
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    transition: .8s;
}

.st-menu ul li a:hover{
    color: #858585;
}


img {
  display: block;
  width: 100%;
}


button{
    border: none;
	padding: 0.6em 0.6em;
	background: #ffc600;
	color: #fff;
	font-family: 'Open Sans', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}


/*menu desktop*/


.menu-desktop{
	height: 80px;
	position: absolute;
	top: 0;
    padding: 0 15% 0 2em ;
    z-index: 3;
	text-align: right;
	width: 100%;
	-webkit-animation-delay:.7s;
	-moz-animation-delay:.7s;
	-o-animation-delay:.7s;
	-ms-animation-delay:.7s;
}

.menu-desktop h1{
	text-align: left;
	position: fixed;
	color: white;
	font-weight: 100;
}

.menu-desktop ul{
    list-style: none;
    padding: 0.7em;
    position: relative;
    left: 0;

}

.menu-desktop ul li{
	display: inline;
	margin: 0 0 0 0;
}

.menu-desktop ul li a{
    padding: 2em 2em;
    text-decoration: none;
    transition: .8s;
	outline: none;
	color: white;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 100;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.menu-desktop ul li a:before{
    color: #7d5b00;
	font-size: 1.2em;
}

.menu-desktop ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}


/* END menu desktop*/



.btn_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffc600;
}

.container {
/*	max-width: 55%;*/
	margin: auto;
	padding: 8% 5% 5% 5%;
	min-width: 60%;
	max-width: 60%;
}


.scene {
  padding: 0;
  margin: 0;
}


.scene,
.layer {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


.me{
    max-width: 600px;
    padding: 30% 0 0 20%;
}

.programas{
    padding-top: 50%;
}

.nombre{
    padding-top: 10%;
}

.cloud2{
    padding: 0 0 0 0;
}




footer{
    z-index: 1;        
    position: fixed;
    padding: 10px 0px 30px 0px;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
}

footer h1{
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: px;
    text-align: center;
}


